.LoginSignUpContainer{
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    /* flex-direction: column; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(231, 231, 231);
    position: fixed;
    top: 5vmax;
    /* left: 0%; */
}
.LoginSignUpBox{
    background-color: white;
    width: 25vw;
    height:auto;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}



.LoginSignUpBox >div > button {
    background-color: tomato;
    height: 3px;
    width: 50%;
    border:none;
    transition: all 0.5s;

}

.loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 2vmax;
    justify-content: space-evenly;
    height: 80%;
    transition: all 0.5s;
}



.loginForm > div{
    display: flex;
    width: 100%;
    align-items: center;
}


.loginForm > div > input{
    margin: 4px;
    padding: 1vmax 4vmax;
    padding-right: 1vmax;
    width:100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 4px;
    font: 300 1vmax cursive;
    font-family: "Roboto";

    outline: none;
}


.loginForm > div > svg{
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.678);
}


/* .loginForm > a{
    color: rgba(0, 0, 0, 0.651);
    text-decoration: none;
    align-self: flex-end;
    transition: all 0.5s;
    font: 500 0.9vmax "Gill Sans";
}

.loginForm > a:hover{
    color: black;
} */






.loginBtn,
.signUpBtn{
    border: none;
    background-color: tomato;
    color: white;
    font: 300 0.9vmax "Roboto";
    width:100%;
    padding: 0.8vmax;
    cursor: pointer;
    transition: all 0.5s;
    border-radius: 4px;
    outline: none;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.220);
}

.loginBtn:hover,
.signUpBtn:hover{
    background-color: rgb(180, 27, 0);

}

.toggle-btn{
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
    margin-top: 10px;
    font-family: "Roboto";
    font-size: 20px;

}





@media screen and (max-width: 600px) {
    .LoginSignUpContainer {
      background-color: white;
      height: 30vh;
    }
    .LoginSignUpBox {
      position: fixed;
      top:15vmax;
      bottom: 0;
      width: 100vw;
      height: 95vh;
    }
    .login_signUp_toggle {
      height: 5vmax;
    }
    .login_signUp_toggle > p {
      font: 300 1.5vmax "Roboto";
    }
  
    .loginForm,
    .signUpForm {
      padding: 5vmax;
    }
  
    .loginForm > div > input,
    .signUpForm > div > input {
      padding: 2.5vmax 5vmax;
      font: 300 1.7vmax cursive;
    }
  
    .loginForm > div > svg,
    .signUpForm > div > svg {
      font-size: 2.8vmax;
    }
  
    .loginForm > a {
      font: 500 1.8vmax "Gill Sans";
    }
  
    #registerImage > img {
      width: 8vmax;
      border-radius: 100%;
    }
  
    #registerImage > input::file-selector-button {
      height: 7vh;
      font: 400 1.8vmax cursive;
    }
  
    .loginBtn,
    .signUpBtn {
      font: 300 1.9vmax "Roboto";
      padding: 1.8vmax;
    }
  }